body {
    font-family: Arial, sans-serif;
}

.set-menus-page {
    max-width: 64%;
    display: flex;
    flex-direction: column;
    justify-self: center;

}

.title {
    font-size: 20px;
    margin-bottom: 1px;
}

.sub-title {
    font-size: 15px;
}

.menus {
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
    gap: 16px;
}

.menu-name {
    font-size: 15px;
    margin-bottom: 0;
}

.menu-description {
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 0;
    color: #959595;
}

.menu-price {
    font-size: 15px;
    font-weight: 600;
    margin-top: 5px;
}

.menu-card {
    flex: 0 1 calc(33.33% - 16px); 
}

.guests-container {
    display: flex;
    align-items: center;
}

.guests-input {
    background-color: #C8CDD3;
    border: none;
    padding: 5px;
    width: 80px;
    text-align: center;
    margin-right: 10px;
}

button {
    background: none;
    padding: 5px;
    border: 1px solid black;
    border-radius: 15px;
    margin-right: 5px;
}

img {
    width: 350px;
    height: 156px;
    clip-path: content-box;
    object-fit: cover;
    border-radius: 2%;
}